<html>
  <head>
    <meta charset="utf-8">
    <title>Aviso</title>
    <link rel="stylesheet" href="/src/app/aviso/aviso.component.css">
  </head>
  <body>

    <div class="login-box">
      <h2>Envia un aviso</h2>

      <form>
        <!-- Asinatura INPUT -->
        <label for="Asignatura">Asignatura</label>
        <input type="text" placeholder="A que asignatura le daras aviso">
        <!-- Aviso INPUT -->
        <label for="Aviso">Aviso</label>
        <input type="text" placeholder="Escriba aqui su aviso">
        
        <button class='btn-warning btn-block' role="link" onclick="window.location='/home'" >Enviar</button>
      </form>
    </div>
  </body>
</html>